version: "3.9"

services:
  db:
    image: postgres:15
    container_name: postgres
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: userdb
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  app:
    build: .
    container_name: usersapp
    restart: always
    depends_on:
      - db
    env_file:
      - .env
    ports:
      - "8080:8080"
    volumes:
      - ./keys:/app/keys
    environment:
      DATABASE_URL: postgresql+psycopg2://user:password@db:5432/userdb
    command:
      - bash
      - -c
      - |
        /wait-for-it.sh db:5432 -- python app/db/migrations/create_tables.py &&
        uvicorn app.main:app --host 0.0.0.0 --port 8080

volumes:
  postgres_data:
